.contact{
    border-top: solid 1px rgba(128, 128, 128, 0.2);
  

    &__title{
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    @media screen and (min-width:768px){
        font-size: 2rem;
        margin-top: 2rem;
    }
    
    }
    &__container{
        display: flex;
        flex-direction: column; 
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;
        line-height: 3;
        @media screen and (min-width:768px){
            display: flex;
            flex-direction: row;
            gap: 5rem;
            font-size: 1.5rem;
        }
        
      

    }
    &__container a{
        color: var(--pinkColor);
    } 
    &__socialMedia{
        color: var(--textColor);
       
    }
   
}
.ico:hover{
    transform: translateY(-10px);
    
}